.delivery__address {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin: 4px 0 0;
}

@media screen and (max-width: 690px) {
  .delivery__address {
    display: none;
  }
}
