.miss__card {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.miss__card:first-child {
  margin-top: 12px;
}

@media (max-width: 690px) {
  .miss__card {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 54px;
    margin-top: 10px;
  }

  .miss__card:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}
