.method__btn-change {
  all: unset;
  color: #cb11ab;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.method__btn-change:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 690px) {
  .method__btn-change {
    align-self: end;
  }
}
