.basket__title {
  color: #000;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.28px;
  margin: 36px 0 28px;
}

@media screen and (max-width: 690px) {
  .basket__title {
    margin-top: 15px;
    margin-bottom: 13px;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
  }
}
