.basket__card {
  display: flex;
  justify-content: space-between;
}

.basket__card:not(:first-child) {
  margin-top: 29px;
}

@media screen and (max-width: 690px) {
  .basket__card {
    flex-direction: column;
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .basket__card:not(:first-child) {
    margin-top: 12px;
  }

  .basket__card:last-child {
    border-bottom: none;
    padding-bottom: 5px;
  }
}
