.header__burger-menu {
  border: 1px solid rgba(255, 255, 255, 0.45);
  padding: 12px 10px;
  border-radius: 8px;
  width: 28px;
  height: 24px;
  object-fit: cover;
}

@media screen and (max-width: 690px) {
  .header__burger-menu {
    display: none;
  }
}
