.miss__wrap_icons {
  margin-right: 127px;
  width: 55px;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 690px) {
  .miss__wrap_icons {
    width: 64px;
    position: absolute;
    right: 0;
    top: 120px;
    margin-right: 0;
  }
}
