.card__icons_like {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../../../images/like.svg") no-repeat center / cover;
  margin-left: 13px;
  cursor: pointer;
}

.card__icons_like:hover {
  width: 20px;
  height: 20px;
  background: url("../../../images/like-hover.svg") no-repeat center / cover;
}

.card__icons_basket {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../../../images/basket.svg") no-repeat center / cover;
  margin-left: 13px;
  cursor: pointer;
}

.card__icons_basket:hover {
  width: 20px;
  height: 20px;
  background: url("../../../images/basket-hover.svg") no-repeat center / cover;
}

.card__icons_like-fill {
  background: url("../../../images/like-fill.svg") no-repeat center / cover;
  display: inline-block;
  object-fit: cover;
  width: 20px;
  height: 18px;
  margin-left: 13px;
}

.card__icons_miss-like-fill {
  background: url("../../../images/like-fill.svg") no-repeat center / cover;
  display: inline-block;
  object-fit: cover;
  width: 19px;
  height: 17px;
}

.card__icons_miss-like-fill {
  background: url("../../../images/like-fill.svg") no-repeat center / cover;
  display: inline-block;
  object-fit: cover;
  width: 19px;
  height: 17px;
}

.card__icons_like-fill:hover {
  opacity: 0.75;
  cursor: pointer;
}

.card__icons_miss-like-fill:hover {
  opacity: 0.75;
  cursor: pointer;
}

@media screen and (max-width: 690px) {
  .card__icons_basket {
    margin-left: 22px;
  }

  .card__icons_like {
    margin-left: 0;
  }
}
